@import url('https://fonts.googleapis.com/css2?family=Muli&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lacquer&family=Lato&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  width: 1600px;
  height: 17583px;
}
nav{
  position: absolute;
  width: 1600px;
  height: 136px;
  left: 0px;
  top: 0px;
  z-index: 1;

  background: #FFFFFF;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 40px 40px;
}
.toggle-button{
  position: absolute;
  top: 50px;
  right: 177px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 41px;
}
.toggle-button .bar{
  height: 6px;
  width: 100%;
  background-color: #00AEFF;
  border-radius: 20px;
}
nav img{
  position: absolute;
  width: 379px;
  height: 77px;
  left: 88px;
  top: 32px;
}
nav ul{
  float: right;
  margin-right: 117px;
  margin-top: 58px;
}
nav ul li{
  list-style: none;
  margin: 0 6px;
  display: inline-block;
  line-height: 19px;
}
nav ul li a{
  text-decoration: none;
  padding: 12px 12px;

  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;

  /* identical to box height */

  /* 1f1534-hyfen */
  color: #1F1534;
  opacity: 0.5;
}
nav ul li a.active{
  border: 2px solid;
  border-color: #00AEFF;
  border-radius: 32px;
  color: #00AEFF;
}
nav ul li a:hover{
  color: white;
  background: #00AEFF;
  border-radius: 32px;
}
.container{
  position: absolute;
  width: 1600px;
  height: 977px;
  left: 0px;
  top: 0px;

  background: #00AEFF;
  background-image: url("img/herobg.png");
  background-size: cover;
}
.container h3{
  position: absolute;
  width: 441px;
  height: 60px;
  left: 88px;
  top: 270px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;

  /* identical to box height, or 200% */

  color: #000000;
}
.container h1{
  position: absolute;
  width: 732px;
  height: 112px;
  left: 88px;
  top: 355px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 56px;

  /* or 112% */

  color: #084482;

  mix-blend-mode: normal;
}
.container2{
  position: absolute;
  width: 1600px;
  height: 1721px;
  left: 0px;
  top: 977px;

  background: #E5F7FF;
}
.container2-img{
  position: absolute;
  width: 220px;
  height: 64px;
  left: 244px;
  top: 93px;
}
.container2-p{
  position: absolute;
  width: 1120px;
  height: 110px;
  left: 240px;
  top: 183px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;

  color: #000000;
}
.card1{
  position: absolute;
  width: 195.14px;
  height: 187px;
  left: 311.9px;
  top: 340px;
  background: #C4C4C4;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  background-blend-mode: luminosity;
  border-radius: 50%;
}
.card2{
  left: 710.9px;
}
.card3{
  left: 1090px;
}
.card4{
  top: 793px;
}
.card5{
  top: 793px;
  left: 710.9px;
}
.card6{
  top: 793px;
  left: 1090px;
}
.card7{
  top: 1251px;
}
.card8{
  top: 1251px;
  left: 710.9px;
}
.card9{
  top: 1251px;
  left: 1090px;
}

@media (max-width: 1600px){
  body{
    width: 100%;
  }
  nav{
    position: fixed;
    width: 100%;
    height: 136px;
  }
  nav img{
    width: calc((379/1600)*100vw);
    height: calc((77/1600)*100vw);
    left: calc((88/1600)*100vw);
    top: 38px;
  }
  nav ul{
    float: right;
    margin-right: calc((117/1600)*100vw);
    margin-top: 58px;
  }
  nav ul li{
    list-style: none;
    margin: 0 calc((6/1600)*100vw);
    display: inline-block;
    line-height: calc((19/1600)*100vw);
  }
  nav ul li a{
    text-decoration: none;
    padding: 12px calc((12/1600)*100vw);

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: calc((15/1600)*100vw);
    color: #1F1534;
    opacity: 0.5;
  }
  nav ul li a.active{
    border: 2px solid;
    border-color: #00AEFF;
    border-radius: 32px;
  }
  nav ul li a:hover{
    color: white;
    background: #00AEFF;
    border-radius: 32px;
  }
  .container{
    width: 100%;
    height: calc((977/1600)*100vw);
  }
  .container h3{
    width: calc((941/1600)*100vw);
    height: calc((60/1600)*100vw);
    left: calc((88/1600)*100vw);
    top: calc((270/1600)*100vw);
  }
  .container h1{
    width: calc((932/1600)*100vw);
    height: calc((112/1600)*100vw);
    left: calc((88/1600)*100vw);
    top: calc((355/1600)*100vw);
    font-size: calc((50/1600)*100vw);
    line-height: calc((56/1600)*100vw);
  }
  .container2{
    width: 100%;
    height: calc((1721/1600)*100vw);
    top: calc((977/1600)*100vw);
  }
  .container2-img{
    width: calc((220/1600)*100vw);
    height: calc((64/1600)*100vw);
    left: calc((244/1600)*100vw);
    top: calc((93/1600)*100vw);
  }
  .container2-p{
    width: calc((1120/1600)*100vw);
    height: calc((110/1600)*100vw);
    left: calc((240/1600)*100vw);
    top: calc((183/1600)*100vw);
    font-size: calc((21/1600)*100vw);
    line-height: calc((29/1600)*100vw);
  }
  .card1{
    position: absolute;
    width: calc((195/1600)*100vw);
    height: calc((187/1600)*100vw);
    left: calc((311/1600)*100vw);
    top: calc((340/1600)*100vw);
  }
  .card2{
    left: calc((710/1600)*100vw);
  }
  .card3{
    left: calc((1090/1600)*100vw);
  }
  .card4{
    top: calc((793/1600)*100vw);
  }
  .card5{
    top: calc((793/1600)*100vw);
    left: calc((710/1600)*100vw);
  }
  .card6{
    top: calc((793/1600)*100vw);
    left: calc((1090/1600)*100vw);
  }
  .card7{
    top: calc((1251/1600)*100vw);
  }
  .card8{
    top: calc((1251/1600)*100vw);
    left: calc((710/1600)*100vw);
  }
  .card9{
    top: calc((1251/1600)*100vw);
    left: calc((1090/1600)*100vw);
  }
}
@media (max-width: 1000px) {
  .toggle-button{
    display: flex;
    right: calc((77/1600)*100vw);
    cursor: pointer;
  }
  .nav-toggle:checked ~ nav ul{
    display: block;
  }
  nav{
    border-radius: 0px 0px 20px 20px;
  }
  nav ul{
    float: none;
    display: none;
    margin-right: 117px;
    margin-top: 150px;
    width: 97vw;
    background: white;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.15);
    border-radius: 40px 40px 40px 40px;
    height: 230px;
    z-index: 1;
  }
  nav ul li{
    list-style: none;
    margin: 0 6px;
    display: flex;
    line-height: 19px;
    justify-content: space-between;
    background: white;
    width: 95vw;
    border-radius: 40px 40px 40px 40px;
  }
  nav ul li a{
    width: 95vw;
    text-decoration: none;
    padding: 12px 12px;
    left: 0px;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #1F1534;
    opacity: 1;
  }
  nav img{
    width: 379px;
    height: 77px;
  }
}
@media (max-width: 900px){
  nav{
    height: 106px;
    border-radius: 0px 0px 10px 10px;
  }
  nav img{
    width: 295px;
    height: 60px;
    top: 26px;
  }
  .toggle-button{
    top: 40px;
    width: 40px;
    height: 31px;
  }
  img{
    top: 924px;
  }
}
@media (max-width: 550px){
  nav img{
    width: 200px;
    height: 50px;
  }
}
@media (max-width: 400px){
  nav img{
    top: 33px;
    width: 200px;
    height: 40px;
  }
  .toggle-button{
    top: 40px;
    width: 35px;
    height: 26px;
    right: calc((127/1600)*100vw);
  }
  nav{
    height: 96px;
  }
}
