@import url('https://fonts.googleapis.com/css2?family=Muli&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lacquer&family=Lato&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  width: 1600px;
  height: 1448px;
}
nav{
  position: absolute;
  width: 1600px;
  height: 136px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 40px 40px;
}
nav img{
  position: absolute;
  width: 379px;
  height: 77px;
  left: 88px;
  top: 32px;
}
nav ul{
  float: right;
  margin-right: 117px;
  margin-top: 58px;
}
nav ul li{
  list-style: none;
  margin: 0 6px;
  display: inline-block;
  line-height: 19px;
}
nav ul li a{
  text-decoration: none;
  padding: 12px 12px;

  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;

  /* identical to box height */

  /* 1f1534-hyfen */
  color: #1F1534;
  opacity: 0.5;
}
nav ul li a.active{
  border: 2px solid;
  border-color: #00AEFF;
  border-radius: 32px;
}
nav ul li a:hover{
  color: white;
  background: #00AEFF;
  border-radius: 32px;
}
h1{
  position: absolute;
  width: 586px;
  height: 112px;
  left: 5.56%;
  top: 358px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 56px;

  /* or 112% */

  color: #084482;

  mix-blend-mode: normal;
}
.heroParagraph{
  position: absolute;
  height: 160px;
  width: 802px;
  left: 5.56%;
  top: 495px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 32px;

  /* or 152% */

  color: #000000;

  mix-blend-mode: normal;
}
.heroButton{
  position: absolute;
  width: 200px;
  left: 5.56%;
  top: 672px;
  text-align: center;
  padding: 20px 6px;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

  background: #00AEFF;
  border-radius: 55px;
}
